* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  @include responsive(1316px) {
    font-size: 50%;
  }
  @include responsive(1030px) {
    font-size: 62.5%;
  }
}

html,
body {
  overflow-x: hidden;
}
