body {
  background-color: $background;
}

header {
  z-index: 10;
  position: fixed;
  height: 10rem;
  align-items: center;
  justify-items: center;
  width: 100%;
  transition: all 0.3s;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      width: 20rem;
      height: 10rem;
      position: relative;
      cursor: pointer;
      .logo_header {
        position: absolute;
      }
      .logo_header_w {
        position: absolute;
      }
    }
    ul {
      display: flex;
      gap: 2rem;
    }
    .btn-mobile {
      display: none;
      background-color: transparent;
      img {
        background-color: transparent;
      }
    }
  }
  &.scrolled {
    background-color: $text-brown;
    .container {
      .logo {
        .logo_header {
          visibility: hidden;
        }
      }
      ul {
        li {
          .btn-primary {
            border-color: white;
            color: white;
            &:hover {
              background-color: white;
              color: $text-brown;
            }
          }
        }
      }
      .btn-mobile {
        background-color: transparent;
        img {
          filter: invert(1);
        }
      }
    }
  }
  @include responsive(1030px) {
    .container {
      ul {
        li {
          button {
            font-size: 1.2rem;
            font-weight: 600;
            padding: 0 1.5rem;
          }
        }
      }
    }
  }
  @include responsive(1004px) {
    .container {
      ul {
        display: none;
      }
      .btn-mobile {
        display: block;
      }
    }
  }
}

.menu-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2022;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
    aside {
      position: fixed;
      top: 0;
      left: 0;
      width: 75%;
      height: 100%;
      background-color: white;
      padding: 3rem;
      transform: translateX(-100%);
      transition: transform 0.3s;
      .logo {
        width: 30rem;
      }
      ul {
        li {
          margin-bottom: 2rem;
        }
      }
    }
  }
  @include responsive(500px) {
    .overlay {
      aside {
        .logo {
          width: 90%;
          margin: 0 auto;
        }
      }
      ul {
        li {
          button {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}

.menu-opened {
  .menu-mobile {
    pointer-events: all;
    opacity: 1;
    aside {
      transform: translateX(0);
    }
  }
}

.hero {
  height: 76.8rem;
  align-items: center;
  display: flex;
  justify-content: center;
  .container {
    align-items: center;
    display: flex;
    justify-content: center;
    .left {
      height: 50rem;
      width: 50rem;
    }
    .right {
      height: 20rem;
      width: 63rem;
      h1 {
        font-family: "League Spartan";
        font-size: 13rem;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        color: $text-black;
      }
      h2 {
        font-family: "League Spartan";
        font-size: 6rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: $text-black;
      }
    }
  }
  @include responsive(1316px) {
    .container {
      .left {
        img {
          max-height: 100%;
        }
      }
    }
  }
  @include responsive(1016px) {
    .container {
      .right {
        h1 {
          font-size: 12rem;
        }
      }
    }
  }
  @include responsive(925px) {
    .container {
      .right {
        h1 {
          font-size: 10rem;
        }
      }
    }
  }
  @include responsive(777px) {
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 24rem;
      .right {
        order: 1;
        h1 {
          text-align: center;
        }
        h2 {
          text-align: center;
        }
      }
      .left {
        order: 2;
        margin-top: 6rem;
        img {
          width: 100%;
          height: 35rem;
        }
      }
    }
  }
  @include responsive(500px) {
    height: fit-content;
    padding: 3rem 0 3rem 0;
    .container {
      padding: 9.5rem 0 4rem 0;
      .left {
        height: fit-content;
        margin-top: 2rem;
        width: 95%;
        img {
          height: 38rem;
        }
      }
      .right {
        width: 90%;
        height: auto;
        h1 {
          font-size: 6rem;
        }
        h2 {
          font-size: 3rem;
        }
      }
    }
  }
}

.sobre {
  height: 76.8rem;
  background-color: white;
  align-items: center;
  padding-top: 10rem;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .text {
      width: 60rem;
      h2 {
        font-family: "League Spartan";
        font-size: 6rem;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        color: $text-black;
        margin-bottom: 2rem;
      }
      p {
        font-family: "Inter";
        font-size: 1.9rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: $text-black;
      }
    }
  }
  @include responsive(1316px) {
    .container {
      .img {
        img {
          height: 60rem;
        }
      }
    }
  }
  @include responsive(1004px) {
    .container {
      .img {
        img {
          height: 50rem;
        }
      }
    }
  }
  @include responsive(639px) {
    height: 100rem;
    .container {
      display: flex;
      flex-direction: column;
      .text {
        width: 100%;
        h2 {
          text-align: center;
        }
        p {
          text-align: center;
          margin-bottom: 5rem;
        }
      }
      .img {
        img {
          height: 42rem;
          width: 100%;
        }
      }
    }
  }
  @include responsive(500px) {
    height: fit-content;
    padding: 4rem 0 4rem 0;
    .container {
      .text {
        width: 95%;
        h2 {
          font-size: 4rem;
        }
        p {
          font-size: 1.4rem;
        }
      }
      .img {
        width: 95%;
        height: fit-content;
        img {
          width: 100%;
          height: calc(width - 50%);
        }
      }
    }
  }
}

.blog {
  height: 76.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    position: relative;
    height: 60rem;
    .swiper {
      width: 100%;
      height: 100%;
      background-color: white;
      border-radius: 5rem;
      &-slide {
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        h3 {
          font-family: "League Spartan";
          font-size: 16rem;
          font-style: normal;
          font-weight: 900;
          line-height: normal;
          color: white;
          margin-bottom: 2rem;
          margin-left: 4rem;
        }
        p {
          font-family: "Inter";
          font-size: 1.9rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          color: white;
          margin-bottom: 2rem;
          margin-left: 4rem;
          width: 50rem;
        }
        button {
          margin-bottom: 2rem;
          margin-left: 4rem;
          width: fit-content;
          border-color: white;
          color: white;
          &:hover {
            background-color: white;
            color: $text-brown;
          }
        }
        &.slide1 {
          position: relative;
          &::before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(
                to top,
                rgba(19, 98, 63, 0.8) 0%,
                rgba(19, 98, 63, 0) 100%
              ),
              url("../img/2023-JellyfihsbotbyIADYS-4.webp");
            background-size: cover;
            background-position: center;
          }
        }
      }
      &-pagination-progressbar {
        background: white;
        &-fill {
          background: $text-brown;
        }
      }
      &-button {
        &-prev,
        &-next {
          color: white;
        }
      }
    }
  }
  @include responsive(777px) {
    .container {
      .swiper {
        &-slide {
          h3 {
            font-size: 10rem;
          }
          p {
            width: auto;
            margin-right: 4rem;
          }
        }
      }
    }
  }
  @include responsive(500px) {
    height: fit-content;
    padding: 4rem 0 4rem 0;
    .container {
      .swiper {
        width: 95%;
        &-slide {
          align-items: center;
          h3 {
            text-align: center;
            margin: 0 auto;
            font-size: 18vw;
          }
          p {
            width: auto;
            margin-right: 4rem;
            text-align: center;
            font-size: 4vw;
          }
          button {
            margin: 0 auto 2rem;
          }
        }
      }
    }
  }
}

.voluntariado {
  height: 76.8rem;
  background-color: white;
  align-items: center;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 76.8rem;
    position: relative;
    .text {
      width: 55rem;
      h2 {
        font-family: "League Spartan";
        font-size: 6rem;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        color: $text-black;
        margin-bottom: 2rem;
      }
      p {
        font-family: "Inter";
        font-size: 1.9rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: $text-black;
        margin-bottom: 2rem;
      }
      button {
        margin-bottom: 2rem;
      }
    }
    .slide {
      width: 50rem;
      max-height: 60rem;
      height: 100%;
      .swiper {
        width: 48rem;
        height: 64rem;
        &-slide {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-end;
          border-radius: 18px;
          font-size: 22px;
          font-weight: bold;
          color: #fff;
          pointer-events: all;
          h3 {
            font-family: "League Spartan";
            font-size: 8rem;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            color: white;
            margin-bottom: 2rem;
            margin-left: 1rem;
          }
          &.slide1 {
            position: relative;
            &::before {
              content: "";
              position: absolute;
              z-index: -1;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-image: linear-gradient(
                  to top,
                  rgba(19, 98, 63, 0.8) 0%,
                  rgba(19, 98, 63, 0) 100%
                ),
                url("../img/trabalho-voluntario-bh-Castracao-Ecologica.webp");
              background-size: cover;
              background-position: center;
            }
          }
          &.slide2 {
            position: relative;
            &::before {
              content: "";
              position: absolute;
              z-index: -1;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-image: linear-gradient(
                  to top,
                  rgba(19, 98, 63, 0.8) 0%,
                  rgba(19, 98, 63, 0) 100%
                ),
                url("../img/recicla_orla.webp");
              background-size: cover;
              background-position: center;
            }
          }
          &.slide3 {
            position: relative;
            &::before {
              content: "";
              position: absolute;
              z-index: -1;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-image: linear-gradient(
                  to top,
                  rgba(19, 98, 63, 0.8) 0%,
                  rgba(19, 98, 63, 0) 100%
                ),
                url("../img/wecare.webp");
              background-size: cover;
              background-position: center;
            }
          }
        }
      }
    }
  }
  @include responsive(1030px) {
    .container {
      .slide {
        width: 30rem;
        margin-left: 7rem;
        height: 40rem;
        .swiper {
          width: 28rem;
          height: 40rem;
          &-slide {
            h3 {
              font-size: 5rem;
            }
          }
        }
      }
    }
  }
  @include responsive(1000px) {
    .container {
      .text {
        width: 50rem;
      }
    }
  }
  @include responsive(925px) {
    .container {
      .text {
        width: 40rem;
      }
    }
  }
  @include responsive(838px) {
    height: 80rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .text {
        order: 1;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        h2 {
          text-align: center;
        }
        p {
          text-align: center;
        }
        button {
          align-self: center;
        }
      }
      .slide {
        order: 2;
        margin: 0;
      }
    }
  }
  @include responsive(500px) {
    height: fit-content;
    padding: 4rem 0 4rem 0;
    .container {
      height: fit-content;
      .text {
        width: 95%;
        h2 {
          font-size: 15vw;
        }
        p {
          font-size: 5vw;
        }
      }
    }
  }
}

.centroReciclagem {
  height: 76.8rem;
  align-items: center;
  display: flex;
  justify-content: center;
  .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .text {
      width: 65rem;
      h2 {
        font-family: "League Spartan";
        font-size: 6rem;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        color: $text-black;
        margin-bottom: 2rem;
      }
      p {
        font-family: "Inter";
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: $text-black;
        margin-bottom: 2rem;
      }
      ul {
        li {
          font-family: "Inter";
          font-size: 1.6rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          color: $text-black;
          margin-bottom: 1rem;
          strong {
            font-family: "Inter";
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            color: $text-black;
          }
        }
      }
    }
    .mapa {
      height: 50rem;
      width: 50rem;
    }
  }
  @include responsive(1316px) {
  }
  @include responsive(1030px) {
    .container {
      .mapa {
        width: 40rem;
        margin-left: 5rem;
      }
    }
  }
  @include responsive(777px) {
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .text {
        width: 90%;
        text-align: center;
      }
      .mapa {
        height: 20rem;
        margin: 0 auto;
      }
    }
  }
  @include responsive(700px) {
    height: 80rem;
    .container {
      .text {
        h2 {
          font-size: 4rem;
        }
        p {
          font-size: 1.4rem;
        }
        ul {
          li {
            font-size: 1.4rem;
            strong {
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }
  @include responsive(500px) {
    height: 95rem;
    .container {
      margin: 0 auto;
      .mapa {
        width: 90%;
      }
    }
  }
}

.denuncia_descarte {
  height: 76.8rem;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: white;
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .mapa_denuncia {
      width: 50rem;
      height: 50rem;
    }
    .text {
      width: 50rem;
      h2 {
        font-family: "League Spartan";
        font-size: 6rem;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        color: $text-black;
        margin-bottom: 2rem;
      }
      p {
        font-family: "Inter";
        font-size: 1.9rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: $text-black;
        margin-bottom: 2rem;
      }
    }
  }
  @include responsive(1030px) {
    height: fit-content;
    padding: 4rem 0 4rem 0;
    .container {
      .text {
        margin-left: 4rem;
      }
    }
  }
  @include responsive(604px) {
    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .mapa_denuncia {
        order: 2;
        width: 90%;
        height: 40rem;
      }
      .text {
        order: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
        width: 90%;
        h2 {
          text-align: center;
          font-size: 4rem;
        }
        p {
          text-align: center;
          font-size: 1.6rem;
        }
        button {
          margin-bottom: 2rem;
        }
      }
    }
  }
}

footer {
  background-color: $text-brown;
  height: 15rem;
  align-items: center;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15rem;
    .logo {
      width: 10rem;
      height: 10rem;
    }
    .texto {
      width: 100rem;
      text-align: left;
      color: white;
      align-items: center;
      font-family: "Inter";
      font-size: 1.9rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}
