body {
  background-color: $background;
}

header {
  z-index: 10;
  position: fixed;
  height: 10rem;
  align-items: center;
  justify-items: center;
  width: 100%;
  transition: all 0.3s;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      width: 20rem;
      height: 10rem;
      position: relative;
      cursor: pointer;
      .logo_header {
        position: absolute;
      }
      .logo_header_w {
        position: absolute;
      }
    }
    ul {
      display: flex;
      gap: 2rem;
    }
  }
  &.scrolled {
    background-color: $text-brown;
    .container {
      .logo {
        .logo_header {
          visibility: hidden;
        }
      }
      ul {
        li {
          .btn-primary {
            border-color: white;
            color: white;
            &:hover {
              background-color: white;
              color: $text-brown;
            }
          }
        }
      }
    }
  }
}

.hero {
  height: 76.8rem;
  align-items: center;
  display: flex;
  justify-content: center;
  .container {
    align-items: center;
    display: flex;
    justify-content: center;
    .left {
      height: 50rem;
      width: 50rem;
    }
    .right {
      height: 20rem;
      width: 63rem;
      h1 {
        font-family: "League Spartan";
        font-size: 13rem;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        color: $text-black;
      }
      h2 {
        font-family: "League Spartan";
        font-size: 6rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: $text-black;
      }
    }
  }
}

.sobre {
  height: 76.8rem;
  background-color: white;
  align-items: center;
  padding-top: 10rem;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .text {
      width: 60rem;
      h2 {
        font-family: "League Spartan";
        font-size: 6rem;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        color: $text-black;
        margin-bottom: 2rem;
      }
      p {
        font-family: "Inter";
        font-size: 1.9rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: $text-black;
      }
    }
  }
}

.blog {
  height: 76.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    position: relative;
    height: 60rem;
    .swiper {
      width: 100%;
      height: 100%;
      background-color: white;
      border-radius: 5rem;
      &-slide {
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        h3 {
          font-family: "League Spartan";
          font-size: 6rem;
          font-style: normal;
          font-weight: 900;
          line-height: normal;
          color: $text-black;
          margin-bottom: 2rem;
          margin-left: 1rem;
        }
        p {
          font-family: "Inter";
          font-size: 1.9rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          color: $text-black;
          margin-bottom: 5rem;
          margin-left: 1rem;
        }
      }
      &-pagination-progressbar {
        background: white;
        &-fill {
          background: $text-brown;
        }
      }
      &-button {
        &-prev,
        &-next {
          color: $text-brown;
        }
      }
    }
  }
}

.voluntariado {
  height: 76.8rem;
  background-color: white;
  align-items: center;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 76.8rem;
    position: relative;
    .text {
      width: 55rem;
      h2 {
        font-family: "League Spartan";
        font-size: 6rem;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        color: $text-black;
        margin-bottom: 2rem;
      }
      p {
        font-family: "Inter";
        font-size: 1.9rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: $text-black;
        margin-bottom: 1rem;
      }
      button {
        margin-bottom: 2rem;
      }
    }
    .slide {
      width: 50rem;
      max-height: 60rem;
      height: 100%;
      .swiper {
        width: 48rem;
        height: 64rem;
        &-slide {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-end;
          border-radius: 18px;
          font-size: 22px;
          font-weight: bold;
          color: #fff;
          pointer-events: all;
          h3 {
            font-family: "League Spartan";
            font-size: 8rem;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            color: white;
            margin-bottom: 2rem;
            margin-left: 1rem;
          }
          &.slide1 {
            position: relative;
            &::before {
              content: "";
              position: absolute;
              z-index: -1;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-image: linear-gradient(
                  to top,
                  rgba(19, 98, 63, 0.8) 0%,
                  rgba(19, 98, 63, 0) 100%
                ),
                url("../img/trabalho-voluntario-bh---Castracao-Ecologica.png");
              background-size: cover;
              background-position: center;
            }
          }
          &.slide2 {
            position: relative;
            &::before {
              content: "";
              position: absolute;
              z-index: -1;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-image: linear-gradient(
                  to top,
                  rgba(19, 98, 63, 0.8) 0%,
                  rgba(19, 98, 63, 0) 100%
                ),
                url("../img/recicla_orla.jpg");
              background-size: cover;
              background-position: center;
            }
          }
          &.slide3 {
            position: relative;
            &::before {
              content: "";
              position: absolute;
              z-index: -1;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-image: linear-gradient(
                  to top,
                  rgba(19, 98, 63, 0.8) 0%,
                  rgba(19, 98, 63, 0) 100%
                ),
                url("../img/wecare.jpg");
              background-size: cover;
              background-position: center;
            }
          }
        }
      }
    }
  }
}

.centroReciclagem {
  height: 76.8rem;
  align-items: center;
  display: flex;
  justify-content: center;
  .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .text {
      width: 65rem;
      h2 {
        font-family: "League Spartan";
        font-size: 6rem;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        color: $text-black;
        margin-bottom: 2rem;
      }
      p {
        font-family: "Inter";
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: $text-black;
        margin-bottom: 2rem;
      }
      ul {
        li {
          font-family: "Inter";
          font-size: 1.6rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          color: $text-black;
          margin-bottom: 1rem;
          strong {
            font-family: "Inter";
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            color: $text-black;
          }
        }
      }
    }
    .mapa {
      height: 50rem;
      width: 50rem;
    }
  }
}

.denuncia_descarte {
  height: 76.8rem;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: white;
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .text {
      width: 50rem;
      h2 {
        font-family: "League Spartan";
        font-size: 6rem;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        color: $text-black;
        margin-bottom: 2rem;
      }
      p {
        font-family: "Inter";
        font-size: 1.9rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: $text-black;
        margin-bottom: 2rem;
      }
    }
  }
}

footer {
  background-color: $text-brown;
  height: 15rem;
  align-items: center;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15rem;
    .logo {
      width: 10rem;
      height: 10rem;
    }
    .texto {
      width: 100rem;
      text-align: left;
      color: white;
      align-items: center;
      font-family: "Inter";
      font-size: 1.9rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}
